body {
    background-color: rgb(74, 86, 128);
}
.vert {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 50px;
}

.text {
    color: aliceblue;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.text.large {
    font-size: 54px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 75px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    width: 200px;
    height: 200px;
}

img {
    flex: 1;
    max-width: 190px;
    z-index: 1;
}

.scorecard {
    display: flex;
    justify-content: center;
    gap: 50px;
}